.AnimatedSlideContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .Animated-bg {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 45px;
    right: 45px;
    border-radius: 100%;
    transform: scale(5500%);
    z-index: -1;
  }

  .Logo {
    width: 64px;
    max-width: 100%;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  .Animated-children {
    .Animated-child {
      overflow: hidden;
      color: white;
      text-align: right;
      padding: 0 40px;

      &[data-is-active=false] {
        height: 0;
      }
    }
  }
}