@use "../partials/colors";

.AnimatedScrollIcon {
  position: relative;
  width: 32px;
  height: 48px;
  border: 4px solid colors.$color-black;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  transition: opacity 700ms linear;

  .ScrollWheel {
    width: 6px;
    height: 8px;
    border-radius: 8px;
    background-color: colors.$color-blue;
    margin-top: 4px;
    opacity: 0.8;
    
    &[data-should-animate=true] {
      animation: scrollWheelBounce 2000ms linear 200ms infinite;
    }
  }
}

@keyframes scrollWheelBounce {
  50% {
    height: 16px;
  }

  100% {
    height: 8px;
  }
}