@use "../partials/colors";

.Contacts {
  width: 100%;
  min-height: 100vh;
  color: colors.$color-brown;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 30px;
  background-color: colors.$color-black;
  color: colors.$color-off-white;

  .Contacts-title {
    color: colors.$color-off-white;
  }

  .Contacts-inner {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .Contact-link {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      color: colors.$color-off-white;
      width: 100%;
      height: 200px;
      margin: 0;
      flex-basis: calc(50% - 0.5rem);
      flex-grow: 1;
      background-color: darken(colors.$color-black, 5%);
      transition: background-color 300ms linear;

      &:active,
      &:visited {
        color: colors.$color-off-white;
        opacity: 0.85;
        text-decoration: none;
      }

      &:hover {
        background-color: colors.$color-blue;

        & > img {
          border-bottom-color: colors.$color-orange;
          border-bottom-width: 2px;
        }
      }

      & > p {
        margin-top: 10px;
        margin-right: 10px;
        line-height: 1;
      }

      & > img {
        width: 32px;
        border-bottom: 1px solid colors.$color-off-white;
        padding-bottom: 10px;
      }
    }
  }
}