@use "../partials/colors";

.ExpandableSkillBox {
  color: white;
  width: 100%;
  margin: 0 5px 5px 0;
  padding: 20px;
  border: 1px solid colors.$color-black;
  border-radius: 5px;
  position: relative;

  .ExpandableSkillBox-bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: colors.$color-black;
    z-index: -1;
    border-radius: 5px 0 0 5px;
  }

  &[state-expanded="false"] {
    .ExpandableSkillBox-skill-details {
      height: 0;
      overflow: hidden;
    }
  }

  &[state-expanded="true"] {
    .ExpandableSkillBox-bg {
      width: 100% !important;
    }
    
    h5 {
      margin-bottom: 10px;
    }
  }
}