@use "../partials/colors";

.RightSide {
  width: 0;
  overflow: hidden;
  color: colors.$color-off-white;
  background-color: colors.$color-black;
  transition: width 700ms linear;

  @media (min-width: 768px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    padding: 30px;
  }
}