@use '../partials/colors';

.WordCloud {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .Cloud {
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;

    svg {
      cursor: pointer;

      text {
        transition: all 100ms linear;
        
        &.hovered, &.active {
          font-size: 110%;
          fill: colors.$color-blue !important;
        }
      }
    }
  }

  .Word-details {
    width: 100%;
    min-height: 216px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: colors.$color-black;
    color: white;


  }
}