.ResumeSection {
  padding: 30px 30px 0;
}

.ResumeSection .SectionIntroduction {
  margin-bottom: 30px;
}

.ResumeSection > aside > h5,
.ResumeSection .Experience .Company > h5 {
  opacity: 0.6;
}

.ResumeSection .Experience .Experience-details {
  margin: 10px 0 20px;
}

.ResumeSection .EducationSection .School-location {
  display: inline-flex;
  flex-wrap: wrap;
}

.ResumeSection .EducationSection .School-location > h5:first-child {
  margin-right: 10px;
  opacity: 0.8;
}

.ResumeSection .EducationSection .School-location > h5:last-child {
  opacity: 0.6;
}

.ResumeSection .Experience:not(:last-child) {
  margin-bottom: 10px;
}

.ResumeSection .Experience .Company {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.ResumeSection .Experience .Company .Company-logo {
  width: 25px;
  max-width: 100%;
  margin-right: 10px;
}

.ResumeSection .Experience .Skills-used {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.ResumeSection .Experience .Skills-used .Skill-used {
  flex-basis: content;
  margin: 0 5px 5px 0;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

.ResumeSection .TechStack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.ResumeSection .Contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  padding-bottom: 30px;  
}

.ResumeSection .Contacts .Contact-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
  color: #333;
}

.ResumeSection .Contacts .Contact-link img {
  width: 36px;
  max-width: 100%;
}

.ResumeSection .Contacts .Contact-link p {
  margin-left: 10px;
  line-height: 1;
}