$color-black: #333;
$color-blue: #5F9EA0;
$color-off-white: #FDFCF3;
$color-brown: #86836D;
$color-brown-dark: #6F6C5C;
$color-brown-green: #343013;
$color-orange: #F19A3E;

.color--black {
  color: $color-black;
}

.color--blue {
  color: $color-blue;
}

.color--white {
  color: $color-off-white;
}

.color--brown {
  color: $color-brown;
}