$font-stack-heading: 'Lustria', serif;
$font-stack-paragraph: 'Lato', san-serif;
$font-size-root: 62.5%;

.font--xlarge {
  font-size: 6.4rem;
  line-height: 1;

  @media (min-width: 601px) {
    font-size: 9.6rem
  }

  @media (min-width: 1368) {
    font-size: 12.8rem;
  }
}

.font--normal {
  font-size: 2.2rem;
  font-family: $font-stack-paragraph;

  @media (min-width: 601px) {
    font-size: 3.2rem
  }
}