$font-stack-heading: 'Lustria', serif;
$font-stack-paragraph: 'Lato', san-serif;
$font-size-root: 62.5%;

.font--xlarge {
  font-size: 6.4rem;
  line-height: 1;

  @media (min-width: 601px) {
    font-size: 9.6rem
  }

  @media (min-width: 1368) {
    font-size: 12.8rem;
  }
}

.font--large {
  font-size: 3.2rem;
}

.font--above-average {
  font-size: 2.8rem;
}

.font--normal {
  font-size: 2.2rem;
  font-weight: lighter;
  font-family: $font-stack-paragraph;

  @media (min-width: 601px) {
    font-size: 3.2rem
  }
}

.font--small {
  font-size: 1.4rem;
}

.text--underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.text--quote {
  padding-left: 10px;
  border-left: 10px solid #86836D;
}