$font-stack-heading: 'Lustria', serif;
$font-stack-paragraph: 'Lato', san-serif;
$font-size-root: 62.5%;

.font--xlarge {
  font-size: 6.4rem;
  line-height: 1;

  @media (min-width: 601px) {
    font-size: 9.6rem
  }

  @media (min-width: 1368) {
    font-size: 12.8rem;
  }
}

.font--large {
  font-size: 3.2rem;
}

.font--normal {
  font-size: 2.2rem;
  font-family: $font-stack-paragraph;

  @media (min-width: 601px) {
    font-size: 3.2rem
  }
}

.text--underline {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 2px;
    background-color: #86836D;
  }
}