section.Name-title {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 0;
}

section.Name-title .Name-flag {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

section.Name-title .Name-flag > img {
  width: 64px;
  height: 40px;
  object-fit: cover;
  margin-top: 10px;
}

section.Name-title .Name-flag > h1 {
  margin-left: 10px;
  line-height: 1;
}

section.Name-title .Title {
  opacity: 0.6;
}